<div id="<%= dom_id cyberdoc %>">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>First name:
          <%= cyberdoc.first_name %>
        </th>
        <th>Last name:
          <%= cyberdoc.last_name %>
        </th>
        <th>Email:
          <%= cyberdoc.email %>
        </th>
        <th>Phone:
          <%= cyberdoc.phone %>
        </th>
        <th>Insta:
          <%= cyberdoc.insta %>
        </th>
      </tr>
     </thead> 
  </table>
</div>
